@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style destination section */
.destination-desc-item {
  -webkit-overflow-scrolling: touch;
  width: 430px;
  display: flex;
  overflow-x: auto;
}
.destination-items {
  padding: 10px;
  width: 430px;
  flex-shrink: 0;
  height: 100%;
}
.destinatination{
  background-image: url('./assets/bg2.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.destination-btn-desc button{
  color: #D0D6F9;
  font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
letter-spacing: 2.3px;
}

.destination-desc-item h1{
  text-align: center;
  color: white;
  font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 600;
font-size: 70px;
line-height: 25px;
letter-spacing: 3px;
}

.destination-desc-item p{
  text-align: justify;
  color: #D0D6F9;
  font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
letter-spacing: 2.3px;
}
/* End style destination section */

body {
  background-image: url('./assets/background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.menu-cd{
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(10px) !important;
}

.nav-log-cd img{
  height: 35px;
  width: 35px;
}
.nav-lg {
  display: none;
  visibility: hidden;
}

.menu-nav {
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(10px) !important;
}

.nav-md {
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(10px) !important;
}

.home-right {
  background-image: url('./assets/bitmap.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home-left h1 {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 100;
  font-size: 50px;
  line-height: 100px;

  /* identical to box height, or 100% */

  color: #FFFFFF;
}

.home-left p {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 28px;

  /* or 175% */
  text-align: center;

  color: #D0D6F9;
}

.home-left h2 {

  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  /* identical to box height */
  text-align: center;
  letter-spacing: 3.375px;

  color: #D0D6F9;


}


@media (min-width: 1024px){
  .home-right {
    background-image: url('./assets/homeright.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transform: rotate(0deg);
  }
  .destination-btn-desc button{
    color: #D0D6F9;
    font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  }
  
  .destination-desc-item h1{
    color: white;
    font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 600;
  font-size: 120px;
  line-height: 25px;
  letter-spacing: 3px;
  }

}

@media (min-width: 768px){
  .nav-lg {
    display: block;
    visibility: visible;
  }

  .home-left h1 {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 172px;

    /* identical to box height */

    color: #FFFFFF;
  }

  .home-left p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

    /* or 178% */

    color: #D0D6F9;
  }

  .home-left h2 {

    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;

    /* identical to box height */
    letter-spacing: 4.725px;

    color: #D0D6F9;
  }

  
}