@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --menu-height: 250px;
  --item-width: 320px;
  --img-width: 300px;
}





/* Style crew section*/

.imgs-crew{
  overflow: scroll;
  position: relative;
  transition: 0.6s;
}
.crew-desc-item {
  position: relative;
  scroll-snap-type: both mandatory;
  width: 320px;
  overflow: scroll;
}

/* sembunyikan scroll bar dari chrom, safari, dan opera */
.crew-desc-item::-webkit-scrollbar{
  display: none;
}

/* sembunyikan scrollbar dari IE, Edge, dan Firefox */
.crew-desc-item{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.element-item{
  scroll-snap-align: center;
}

.element-item h5{
font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
/* or 175% */
text-align: center;

color: #D0D6F9;
}

.element-item h2{
  font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 45px;

/* identical to box height */
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}

.element-item p{
  font-family: 'Bellefair';
font-style: normal;
font-weight: 200;
font-size: 13px;
line-height: 20px;

/* identical to box height */
text-align: center;

color: #FFFFFF;
}

.crew-desc-items{
  transition: 0.6s;
}

/* Style Technology section */
.tech-descc{
  overflow: hidden;
  position: relative;
}

.deskripsi-main{
  transition: 0.6s;
}

.technology {
  background-image: url('./assets/technologi_bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.tech-descc p{
font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;
text-align: center;
color: #D0D6F9;
}

.tech-descc h2{
  font-family: 'Bellefair';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}
/* End Style Technology Section */

.crew button{
  padding: 3px;
  background-color: aqua;
  border-radius: 50%;
}

/* Style destination section */

.destinatination{
  background-image: url('./assets/bg2.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.destination-button  button{
  color: #D0D6F9;
  font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
letter-spacing: 2.3px;
}

.destination-button button:hover{
  color: #D0D6F9;
  font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 15px;
letter-spacing: 2.3px;
}

.destination-desc h1{
  text-align: center;
  color: white;
  font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 600;
/* font-size: 70px; */
line-height: 25px;
letter-spacing: 3px;
}

.destination-desc p{
  text-align: justify;
  color: #D0D6F9;
  font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
letter-spacing: 2.3px;
}

.destination-desc h5 {
  color: #D0D6F9;
  font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 600;
padding-top: 8px;
font-size: 18px;
line-height: 15px;
letter-spacing: 2.3px;
}
/* End style destination section */

body {
  background-image: url('./assets/background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.menu-cd{
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(10px) !important;
}

.nav-log-cd img{
  height: 35px;
  width: 35px;
}
.nav-lg {
  display: none;
  visibility: hidden;
}

.menu-nav {
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(10px) !important;
}

.nav-md {
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(10px) !important;
}

.home-right {
  background-image: url('./assets/bitmap.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home-left h1 {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 100;
  font-size: 50px;
  line-height: 100px;

  /* identical to box height, or 100% */

  color: #FFFFFF;
}

.home-left p {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 28px;

  /* or 175% */
  text-align: center;

  color: #D0D6F9;
}

.home-left h2 {

  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  /* identical to box height */
  text-align: center;
  letter-spacing: 3.375px;

  color: #D0D6F9;


}


@media (min-width: 1024px){
  .home-right {
    background-image: url('./assets/homeright.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transform: rotate(0deg);
  }
  .destination-button button{
    color: #D0D6F9;
    font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  }
  
  .destination-desc h1{
    text-align: left;
    color: white;
    font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 600;
  /* font-size: 120px; */
  line-height: 25px;
  letter-spacing: 3px;
  }

  /* Style for technology page */
  /* ============ */
  /* ============== */



  .tech-desc-content-items h3{
    text-align: left;
    font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #D0D6F9;
  }
  
  .tech-desc-content h2{
    text-align: left;
    font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  
  color: #FFFFFF;
  }
  
  .tech-desc-content p{
    text-align: left;
    padding-top: 8px;
    font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #D0D6F9;
  }
  /* End Style for Technology Page */

}

@media (min-width: 768px){
  .nav-lg {
    display: block;
    visibility: visible;
  }

  .home-left h1 {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 172px;

    /* identical to box height */

    color: #FFFFFF;
  }

  .home-left p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

    /* or 178% */

    color: #D0D6F9;
  }

  .home-left h2 {

    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;

    /* identical to box height */
    letter-spacing: 4.725px;

    color: #D0D6F9;
  }

  
}